
h1{color: white;
font-family: Arial;
padding-top: 1cm;
}
h2{font-family: sans-serif;
border-top: white solid 2px;}
body {background: url(Imagens/fundoverde.jpg)}
div{ background: url(Imagens/planta.png);  
    text-align: center;
    padding-bottom: 1px;
    
}
.fundo{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}
#ods15{
     width: 7cm;


}
#video{
    float: right;
}
